[user]
  name = yuzu
  email = yuzu6120@gmail.com

[core]
  # editor = /usr/local/bin/emacsclient -n --alternate-editor /usr/local/bin/emacs
  attributesfile = ~/.gitattributes_global

[push]
  default = current

[pull]
  ff = only

[color]
  ui = auto

[diff]
  compactionHeuristic = true

[alias]
  graph = log --graph --all --pretty=format:'%C(green)%cd%C(reset) %C(red)%h%C(reset) %C(yellow bold)%d%C(reset) %C(bold)%s%C(reset) %C(blue bold)<%an>%C(reset)' --abbrev-commit --date=format:'%Y-%m-%d %H:%M'
  graph-rich = log --graph --all --pretty=format:'%C(red reverse)%d%Creset%C(white reverse) %h% Creset %C(green reverse) %an %Creset %C(cyan bold)%ad (%ar)%Creset%n%C(white bold)%w(80)%s%Creset%n%n%w(80,2,2)%b' --abbrev-commit --date=format:'%Y-%m-%d %H:%M:%S' --name-status
  showpr = "!f() { git log --merges --oneline --reverse --ancestry-path $1...candidate-production | grep 'Merge pull request #' | head -n 1; }; f"
  pr-setup = config --add remote.origin.fetch +refs/pull/*/head:refs/remotes/origin/pr/*
